/* Tutorial 2 CSS*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

body{
  margin:0;
}
.page-layout{
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: darkseagreen;
  height: 100vh;
}
.container{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.component{
  display: grid;
  grid-template-areas:
  "header"
  "actionbar"
  "content";
  background-color:rgb(230, 230, 238);
  flex:1;
}